/* CSS Document */
@font-face {
  font-family: 'BebasRegular';
  src: url("font/BEBAS___-webfont.eot");
  src: url("font/BEBAS___-webfont.eot?#iefix") format("embedded-opentype"), url("font/BEBAS___-webfont.woff") format("woff"), url("font/BEBAS___-webfont.ttf") format("truetype"), url("font/BEBAS___-webfont.svg#BebasRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
html, body {
  font-family: 'BebasRegular';
  color: #ffffff;
  width: 100%;
  height: 100%;
  max-width: 2500px;
  /*min-height:700px;*/
  /*min-width:1200px;*/ }

/*---------------- Nav elements -------------------*/
.navigation {
  position: fixed;
  z-index: 1;
  top: 200px;
  left: 10px; }

.navigation li {
  display: block;
  padding: 0px 10px;
  line-height: 30px;
  margin-bottom: 2px;
  font-weight: bold;
  -webkit-transition: all .2s ease-in-out;
  border-bottom: 1px solid black;
  text-align: left;
  /*width:53px;*/ }

.navigation li:hover, .active {
  font-size: 25px;
  cursor: pointer;
  width: 100px !important; }

.todlogo {
  position: fixed;
  top: 30px;
  left: 20px;
  width: 150px;
  margin-top: 0px;
  margin-left: 0px;
  z-index: 1; }

.button {
  display: block;
  width: 5vmin;
  height: 5vmin;
  position: absolute;
  bottom: 0px;
  right: 6%;
  background-color: #848484;
  background-image: url(../images/arrow.png);
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.button:hover {
  background-color: #494949;
  cursor: pointer; }

/*---------------- Content -------------------*/
.textlogo {
  position: absolute;
  width: 50vw;
  alignment-adjust: central;
  top: 37px;
  left: 200px;
  margin-left: 10vw;
  z-index: 1; }

.bio1 {
  font-size: 2vw;
  position: absolute;
  top: 20vw;
  left: 250px;
  opacity: 0.5; }

.li {
  list-style-type: circle; }

.featlist {
  position: absolute;
  top: 350px;
  left: 250px; }

.downloadnow {
  font-size: 2.5vw;
  position: absolute;
  bottom: 180px;
  left: 250px; }

.playlink {
  position: absolute;
  bottom: 170px;
  right: 25%;
  width: 5vw; }

/*---------------- Reviews -------------------*/
.firstreviews {
  position: absolute;
  top: 25vw;
  left: 0%; }

.reviews {
  position: absolute;
  font-size: 1.5vw;
  top: 10vmin;
  left: 200px;
  text-align: center; }

.review1, .review2, .review3 {
  position: absolute;
  top: 0px;
  left: 8vw;
  width: 300px; }

.review2 {
  left: 40vw; }

.review3 {
  top: 160px;
  left: 24vw; }

/*---------------- 5 Stars -------------------*/
.stars {
  position: relative;
  left: -7vw;
  top: -5px; }

.reviews img {
  position: absolute;
  width: 2vw; }

.reviews img:nth-child(5n-3) {
  left: 0px; }

.reviews img:nth-child(5n-2) {
  left: 3vw; }

.reviews img:nth-child(5n-1) {
  left: 6vw; }

.reviews img:nth-child(5n) {
  left: 9vw; }

.reviews img:nth-child(5n+1) {
  left: 12vw; }

.slide {
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.3); }

.wrapper {
  width: 960px;
  height: 200px;
  margin: 0 auto;
  /*position:relative;*/ }

.slideno {
  /*slide description*/
  position: absolute;
  bottom: -3vw;
  left: 0px;
  font-size: 9vw;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.3); }

/*---------------- Descriptions -------------------*/
.desc1, .desc2, .desc3 {
  font-size: 2vw;
  position: absolute;
  top: 75vh;
  left: 15vw; }

.desc2 {
  top: 75%;
  left: 60vw; }

.desc3 {
  top: 55%;
  left: 30vw; }

/*---------------- SLIDE 1 -------------------*/
#slide1 {
  background-image: url(../images/smalliconBG.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#slide1 .downloadnow {
  bottom: 30px; }

#slide1 .playlink {
  bottom: 20px; }

/*---------------- SLIDE 2 -------------------*/
#slide2, #slide3, #slide4, #slide5 {
  background: url(../images/bgBlack.png);
  background-repeat: repeat; }

#slide2 img, #slide3 img, #slide4 img, #slide5 img {
  position: absolute;
  top: 5vw;
  width: 25vw; }
#slide2 img:first-child, #slide3 img:first-child, #slide4 img:first-child, #slide5 img:first-child {
  left: 20vw; }
#slide2 img:nth-child(2), #slide3 img:nth-child(2), #slide4 img:nth-child(2), #slide5 img:nth-child(2) {
  left: 62vw; }

/*---------------- SLIDE 3 -------------------*/
#slide3 img {
  position: absolute;
  top: 5vw;
  width: 25vw; }
#slide3 img:first-child {
  left: 20vw; }
#slide3 img:nth-child(2) {
  left: 62vw; }

/*---------------- SLIDE 4 -------------------*/
#slide4 img {
  position: absolute;
  top: 210px;
  width: 10vw; }
#slide4 img:first-child {
  left: 20vw; }
#slide4 img:nth-child(2) {
  left: 40vw; }
#slide4 img:nth-child(3) {
  left: 60vw; }
#slide4 img:nth-child(4) {
  left: 80vw; }

/*---------------- SLIDE 5 -------------------*/
#slide5 img {
  position: absolute;
  top: 5vw;
  width: 25vw; }
#slide5 img:first-child {
  left: 20vw; }
#slide5 img:nth-child(2) {
  left: 62vw; }

/*---------------- SLIDE 6 -------------------*/
#slide6 {
  background-image: url(../images/iconBG.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#slide6 .parallaxbg {
  position: absolute;
  right: 40px;
  top: 40px;
  font-size: 28px;
  opacity: 0.5; }

#slide6 a {
  color: #ffffff;
  text-decoration: none; }

#slide6 .reviews {
  top: 25vh; }
